html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E4E9E9;
}

nav {
    width: 270px;
    height: 50px;
    border-radius: 6px;
    background-color: #CF5C36;
    margin-left: 45%;
}

nav:nth-child(1) {
    padding-left: 30px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: #EFC88B;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: #EFC88B;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #CF5C36;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #CF5C36;
}

.domoForm {
    border: 2px solid #E4E9E9;
    height: 50px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:0px;
    background-color: #CF5C36;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: #EFC88B;
}

.domoForm input[type=text] {
    float:left;
    width: 85px;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 150px;
    background-color: #CF5C36;
    border-radius: 2px;
    color: #EFC88B;
    text-decoration: none;
    margin-left: 10px;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: #EFC88B;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #EFC88B;
}

.mainForm {
    height: 200px;
    width: 350px;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    color: #EFC88B;
    width: 100px;
    background-color: #CF5C36;
    border-radius: 2px;
    border-color: #CF5C36;
    padding: 3px 0px;
    color: #EFC88B;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: #EFC88B;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #CF5C36;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #CF5C36;
}

#domoMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #E4E9E9;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    width: 100%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #CF5C36;
    border-radius: 4px;
    background-color: #CF5C36;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: #7B9796;
    transition: background-color 2.6s ease-out;
    background-color: rgba(228, 233, 233, 0.884);
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}

.loginPage{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

table {
    border-collapse: collapse;
    background-color: white;
}
.stats {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #CF5C36;
    border-radius: 4px;
    background-color: #CF5C36;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:60px;
    overflow: hidden;
}
.MakerPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
    width: 350px;
    font-weight: bold;
    padding-left: 10%;
    font-size: 1.5em;
}

.ProjectName {
    width: 200px;
    font-weight: bold;
    margin-left: 45%;
    margin-top: 200px;
    font-size: 1.8em;
}

.wrapperForAd {
    display: flex;
    justify-content: space-between;
}

.ad {
    height: 500px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    padding-top: 20%;
}